h1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color:#EBF5FB;
    margin-top: 27px;
    
}

span {
    color: #3998d8;
}

div.Cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
    margin: 3%;
    
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 20px;
}


div#card * {
    margin: 5px 5px 5px 5px;
}


div#card h2{
    color: #3998d8;
}



footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#EBF5FB;
    margin-top: 10px;
}
